%flex {
    display: flex;
    justify-content: space-between;
}
$pb_1rem: 1rem;
$pt_2rem: 2rem;
$pw_1-5rem: 1.5rem;
$color_white: #fff;
$color_black: #000;
$color_lightpink: #ff9eb1;
$color_purple: #d1aee5;
$color_pink: #ff5d7d;
$color_darkgrey: #404040;
$color_grey: #b4b4b4;
$color_lightgrey: #e7e7e7;
$color_darkwhite: #f5f5f5;
$color_lightlightgrey: #f6f6f6;
$color_lightwhite: #fafafa;
$color_lightgreen: #b4dd7f;
$color_green: #5e9e5e;
$color_orange: #f2a559;
$color_darkorange: #d18754;
$color_gradient: linear-gradient(90deg, #ff5d7d 0%, #7b61ff 100%);
$color_gradientblue: linear-gradient(101.17deg, rgba(123, 97, 255, 0.2) 0%, rgba(197, 224, 239, 0.2) 100%), #c5e0ef;
$color_lightdarkgrey: #bdbdbd;
$color_darkgreen: #4a804a;
$color_darklightgreen: #4a7f4a;
%width {
    width: 4rem;
    height: 6rem;
    display: inline-block;
}
