%flex {
    display: flex;
    justify-content: space-between;
}
$pb: 1rem;
$pt: 2rem;
$pw: 1.5rem;
$color_white: #fff;
%width {
    width: 2rem;
    height: 3rem;
    display: inline-block;
    transform: scale(1.5);
}
