<header class="header">

    <div class="header__popup">

        <button><img src="../../assets/img-home/mobile_menu.png" alt="menu"></button>

    </div>
    <div class="header__logo ">
        <a class="flex justify-content-center " href="../../index.html">
            <img src="../../assets/img-home/logo.jpg" alt="logo" class="first-image">
            <img src="../../assets/img-home/FlowerShop.jpg" alt="shop" class="align-items-center second-image">
        </a>
    </div>
    <div class="header__menu">
        <ul class="header__list flex justify-content-between">
            <li class="menu"><a routerLink="/" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">HOME</a></li>
            <li class="menu"><a routerLink="/catalog" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">CATALOG</a></li>
            <li class="menu"><a routerLink="/aboutus" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">ABOUT US</a></li>
            <li class="menu"><a routerLink="news" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">NEWS</a></li>
            <li class="menu"><a routerLink="contacts" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">CONTACTS</a></li>
            <div class=" header__icon flex justify-content-between">
                <li><a class="header__search " routerLink="search" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}"></a> </li>
                <li>
                    <a class="header__bag " href="#" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <span class="header__quantity">10</span>
                    </a>
                </li>
                <li><a class="header__user " href="#" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}"></a></li>
            </div>
        </ul>
    </div>

</header>