<header class="header">

    <div class="header__popup">

        <button class="burger" (click)='toggleDisplay()' [hidden]="isShown"><img
                src="../../assets/img-home/mobile_menu.png" alt="menu"></button>
        <button class="close" [hidden]="isShow" (click)='toggleDisplay()'><img src="../../assets/img-home/x.png"
                alt="close"></button>

    </div>
    <div class="header__logo ">
        <a class="flex justify-content-center " href="/">
            <img src="../../assets/img-home/logo.jpg" alt="logo" class="first-image">
            <img src="../../assets/img-home/FlowerShop.jpg" alt="shop" class="align-items-center second-image">
        </a>
    </div>
    <div class="header__menu">
        <ul class="header__list flex justify-content-between">
            <li class="menu"><a routerLink="/home" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">HOME</a></li>
            <li class="menu"><a routerLink="/catalog" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">CATALOG</a></li>
            <li class="menu"><a routerLink="/aboutus" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">ABOUT US</a></li>
            <li class="menu"><a routerLink="/news" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">NEWS</a></li>
            <li class="menu"><a routerLink="/contacts" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">CONTACTS</a></li>
            <div class=" header__icon flex justify-content-between">
                <li><a class="header__search " (click)='toggleDisplays()' routerLink="/search" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}"></a> </li>
                <li>
                    <a class="header__bag " href="#" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <span class="header__quantity">10</span>
                    </a>
                </li>
                <li><a class="header__user " (click)='toggleUser()' routerLink="" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact:true}"></a></li>
            </div>
        </ul>
    </div>
    <div>
        <ul class="mobile__menu" [hidden]="isShow">
            <li><a routerLink="/home" (click)='toggleDisplay()'>HOME</a></li>
            <li><a routerLink="/catalog" (click)='toggleDisplay()'>CATALOG</a>
            </li>
            <li><a routerLink="/aboutus" (click)='toggleDisplay()'>ABOUT US</a>
            </li>
            <li><a routerLink="/news" (click)='toggleDisplay()'>NEWS</a></li>
            <li><a routerLink="/contacts" (click)='toggleDisplay()'>CONTACTS</a>
            </li>
        </ul>
    </div>
    <div class="users">
        <ul class="user" [hidden]="isMenu">
            <li>
                <a href="">
                    <span class="user__text">MY ORDERS</span>
                    <p class="user__number"> <span>10</span></p>
                </a>
            </li>
            <li><a href="" class="user__text">MANAGE MY ACCOUNT</a></li>
            <div class="line"></div>
            <li><a href="" class="user__text">LOG OUT</a></li>
        </ul>
    </div>

</header>