@import "../styles/_variables.scss";
@import "../styles/_mixins.scss";

.header {
    @extend %flex;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: $color_white;
    width: 100%;
    margin: 0 auto;
    padding: $pt 7rem;
    height: 8rem;
}
.header__popup {
    display: none;
    button {
        img {
            width: 3rem;
            height: 3rem;
        }
    }
}
.header__logo {
    cursor: pointer;
    height: 4rem;
}
.first-image {
    height: 3.5rem;
    padding-right: 0.8rem;
    margin-bottom: $pt;
}
.second-image {
    height: 3rem;
    transform: scale(1.2);
    padding-top: $pb;
}
.header__menu {
    width: 80%;
    padding-top: $pb;
}
.header__icon {
    width: 25%;
}
.header__list li a {
    @include font(Montserrat, normal, 600, 1.4rem, 150%, 0.05em, black);
    text-transform: uppercase;
    &.active {
        color: red;
        background: url("../../assets/img-home/Rectangle2.png") center bottom no-repeat;
        background-size: 3.2rem 0.4rem;
        padding-bottom: $pb;
    }
    &:hover {
        color: red;
        background: url("../../assets/img-home/Rectangle2.png") center bottom no-repeat;
        background-size: 3.2rem 0.4rem;
        padding-bottom: $pb;
    }
}
.header__icon li a {
    &.active {
        background: url("../../assets/img-home/search-red.png") 0 0.4rem no-repeat,
            url("../../assets/img-home/Rectangle2.png") 0 2.3rem no-repeat;
        padding-bottom: $pb;
    }
}
.header__icon li a.header__search:hover {
    background: url("../../assets/img-home/search-red.png") 0 0.4rem no-repeat,
        url("../../assets/img-home/Rectangle2.png") 0 2.3rem no-repeat;
    padding-bottom: $pb;
}
.header__search {
    background: url("../../assets/img-home/search.png") 0 0.4rem no-repeat;
    @extend %width;
}

.header__bag {
    background: url("../../assets/img-home/shopping-bag.png") 0 0.4rem no-repeat;
    @extend %width;
}
.header__icon li a.header__bag:hover {
    background: url("../../assets/img-home/shopping-bag-red.png") 0 0.4rem no-repeat,
        url("../../assets/img-home/Rectangle2.png") 0 2.3rem no-repeat;
    padding-bottom: $pb;
}
.header__quantity {
    display: inline-block;
    color: $color_white;
    position: relative;
    top: -0.2rem;
    left: 1rem;
    width: 1.7rem;
    height: 1.3rem;
    border-radius: 8px;
    padding: 6px 5px;
    line-height: 50%;
    vertical-align: top;
    font-size: $pb;
    background-color: rgba(255, 93, 125, 1);
}
.header__user {
    background: url("../../assets/img-home/user.png") 0 0.4rem no-repeat;
    @extend %width;
}
.header__icon li a.header__user:hover {
    background: url("../../assets/img-home/user-red.png") 0 0.4rem no-repeat,
        url("../../assets/img-home/Rectangle2.png") 0 2.3rem no-repeat;
    padding-bottom: $pb;
}
.user {
    position: fixed;
    top: 5rem;
    right: 11rem;
    background-color: $color_white;
    width: 25rem;
    margin: 2rem;
    box-shadow: 4px 4px 6px 2px grey;
    li {
        margin: 2rem 2rem;
    }
    .user__text {
        @include font(Montserrat, normal, 600, 1.5rem, 120%, 0.05em, black);
    }
    .line {
        width: 100%;
        height: 1px;
        background-color: rgb(221, 218, 218);
        box-shadow: 1px 1px 1px 1px grey;
    }
    .user__number {
        display: inline-block;
        margin-left: 2rem;
        background-color: rgba(255, 93, 125, 1);
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 30%;
        text-align: center;
        position: relative;
        bottom: 0.1rem;
        span {
            @include font(Montserrat, normal, 600, 1.5rem, 120%, 0.05em, $color_white);
            display: block;
            padding-top: 0.4rem;
        }
    }
}

@media (max-width: 1400px) {
    .header {
        justify-content: start;
        .header__logo {
            margin-right: 3rem;
        }
        .header__menu {
            width: 75%;
        }
    }
}
@media (max-width: 1284px) {
    .header__icon {
        width: 20%;
    }
}
@media (max-width: 1200px) {
    .header__icon {
        width: 50%;
        margin-left: 10rem;
    }
    .header__logo {
        width: 400px;
    }
    .menu {
        display: none;
    }
    .header__popup {
        display: block;
        position: fixed;
        top: 2.5rem;
        left: 2.5rem;
        .burger {
            background-color: $color_white;
        }
        .burger:hover {
            box-shadow: 2px 2px 3px grey;
        }
        .burger:active {
            position: fixed;
            top: 2.6rem;
            left: 2.6rem;
            box-shadow: 1px 1px 2px grey;
        }
        .close {
            background-color: $color_white;
        }
        .close:hover {
            box-shadow: 2px 2px 3px grey;
        }
        .close:active {
            position: fixed;
            top: 2.6rem;
            left: 2.6rem;
            box-shadow: 1px 1px 2px grey;
        }
    }
    .mobile__menu {
        position: fixed;
        top: 8rem;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        background: url("../../assets/img-home/Rectangle\ 13.png") 0 0 no-repeat;
        background-size: 100% 100%;
        padding-top: 5rem;
        & li {
            margin-bottom: 4rem;
        }
        & li a {
            @include font(Montserrat, normal, 600, 1.4rem, 150%, 0.05em, #404040);
            text-transform: uppercase;
        }
        & li a:hover {
            color: #ff5d7d;
        }
    }
}

@media (max-width: 886px) {
    .user {
        right: 1rem;
    }
    .header__list {
        display: flex;
    }
    .header__icon {
        width: 10rem;
        margin-left: $pt;
    }
    .header {
        width: 100%;
        justify-content: space-between;
        padding: $pt $pt;
    }
    .header__menu {
        display: flex;
        justify-content: flex-end;
    }
    .header__logo {
        margin-left: 5rem;
    }
}
@media (max-width: 564px) {
    .header__icon {
        margin: 0;
    }
    .header {
        width: 100%;
        justify-content: space-between;
        padding-top: $pt;
        margin: 0 auto;
    }
    .header__logo {
        margin-left: 4rem;
    }
}
@media (max-width: 500px) {
    .header__popup {
        top: 2.5rem;
        left: 0.5rem;
    }
    .burger:active {
        position: fixed;
        top: 2.6rem;
        left: 0.5rem !important;
        box-shadow: 1px 1px 2px grey;
    }
    .close:active {
        position: fixed;
        top: 2.6rem;
        left: 0.5rem !important;
        box-shadow: 1px 1px 2px grey;
    }
    .header__logo {
        margin-left: $pt;
        margin-right: 0;
    }
    .header {
        padding-right: 5rem;
    }
    .header__menu {
        padding-right: 5rem;
    }
    .header__icon {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        width: 5rem;
        li {
            margin-right: $pw;

            width: $pw;
            a {
                margin: 0;
                padding: 0;
            }
        }
    }
    .header__search {
        width: $pw;
        transform: scale(1);
        margin-right: $pb;
    }
    .header__bag {
        width: $pw;
        transform: scale(1);
        margin-right: $pb;
    }
    .header__user {
        width: $pw;
        transform: scale(1);
    }
}
@media (max-width: 450px) {
    .header__search,
    .header__bag {
        width: $pw;
        transform: scale(1);
        margin-right: $pb;
    }
    .header__user {
        width: $pw;
        transform: scale(1);
    }
    .header__icon {
        display: flex;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        width: 5rem;
        li {
            margin-right: $pb;
            width: $pw;
            a {
                margin: 0;
                padding: 0;
            }
        }
    }
    .header__logo {
        margin-right: $pb;
        width: 11rem;
        padding-right: 0;
    }
}
