<div class="wrapper-footer">
  <footer class="footer">
    <div class="footer__flex">
      <div class="footer__logo">
        <img
          id="logo-image"
          src="../assets/img-home/FlowerShop.png"
          alt="logo"
        />
      </div>
      <div class="footer__catalog">
        <p class="footer__title">Catalog</p>
        <ul class="footer__list">
          <div class="footer__first-list">
            <li class="footer__li">
              <a
                class="footer__li-link"
                routerLink="/catalog"
                [queryParams]="{ name: 'Fresh flowers', id: 1050 }"
                >Fresh flowers</a
              >
            </li>
            <li class="footer__li">
              <a
                class="footer__li-link"
                routerLink="/catalog"
                [queryParams]="{ name: 'Indoor plants', id: 1051 }"
                >Indoor plants</a
              >
            </li>
            <li class="footer__li">
              <a
                class="footer__li-link"
                routerLink="/catalog"
                [queryParams]="{ name: 'Planting material', id: 1052 }"
                >Planting material</a
              >
            </li>
          </div>
          <div class="footer__second-list">
            <li class="footer__li">
              <a
                class="footer__li-link"
                routerLink="/catalog"
                [queryParams]="{ name: 'Floral accessories', id: 1053 }"
                >Floral accessories</a
              >
            </li>
            <li class="footer__li">
              <a
                class="footer__li-link"
                routerLink="/catalog"
                [queryParams]="{
                  name: 'Compositions made of artificial materials',
                  id: 1054
                }"
                >Compositions made of artificial materials and dried flowers</a
              >
            </li>
            <li class="footer__li">
              <a
                class="footer__li-link"
                routerLink="/catalog"
                [queryParams]="{ name: 'Landscape design', id: 1055 }"
                >Landscape design</a
              >
            </li>
          </div>
        </ul>
      </div>
      <div class="footer__block">
        <div class="footer__store">
          <p class="footer__title">Store</p>
          <ul class="footer__list-block">
            <li class="footer__li link">
              <a class="footer__li-link" routerLink="/about-us">About us</a>
            </li>
            <li class="footer__li">
              <a class="footer__li-link" routerLink="/news">News</a>
            </li>
            <li class="footer__li">
              <a class="footer__li-link" routerLink="contacts">Contacts</a>
            </li>
          </ul>
        </div>
        <div class="footer__media">
          <p class="footer__title">Social media</p>
          <ul class="flex justify-content-between">
            <li>
              <a href="https://www.elinext.com" target="_blank"
                ><img
                  class="footer__social"
                  src="../assets/img-home/ic-facebook.png"
                  alt="facebook"
              /></a>
            </li>
            <li>
              <a href="https://www.elinext.com" target="_blank"
                ><img
                  class="footer__social"
                  src="../assets/img-home/ic-tiktok.png"
                  alt="tiktok"
              /></a>
            </li>
            <li>
              <a href="https://www.elinext.com" target="_blank"
                ><img
                  class="footer__social"
                  src="../assets/img-home/ic-vk.png"
                  alt="vk"
              /></a>
            </li>
            <li>
              <a href="https://www.elinext.com" target="_blank"
                ><img
                  class="footer__social"
                  src="../assets/img-home/ic-instagram.png"
                  alt="instagram"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__line"></div>
    <div class="footer__copyright flex justify-content-between">
      <div class="footer__copy">© FlowerShop, 2021</div>
      <div class="footer__mail">info@flowershop.by</div>
    </div>
  </footer>
</div>
