@import "../styles/_variables.scss";
@import "../styles/_mixins.scss";

.wrapper {
    max-width: 1440px;
    margin: 7rem auto 0;
}
.footer {
    background: $color_darkgrey;
    color: $color_white;
}
.footer__flex {
    width: 90%;
    margin: 0 auto;
    padding-top: 8.5rem;
    padding-bottom: 3.5rem;
    a {
        color: $color_white;
    }
}
.footer__logo {
    margin-right: 17rem;
    img {
        @include wihi(11.5rem, 3.1rem);
        position: relative;
        top: -1rem;
        left: 10rem;
    }
}
.footer__catalog {
    width: 50%;
}
.footer__title {
    @include font(Montserrat, normal, 600, 1.5rem, 110%, 0.05em, $color_grey);
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}
.footer__list {
    width: 90%;
    & > div {
        width: 50%;
        margin-right: 5rem;
    }
}
.footer__list li {
    margin-bottom: 2.5rem;
}
.footer__list li a {
    @include font(Montserrat, normal, 500, 1.4rem, 150%, 0, $color_white);
}
.footer__store {
    width: 30%;
    margin-right: 10rem;
}
.footer__media {
    width: 17rem;
    margin-right: 10rem;
}
.footer__line {
    @include wihi(76%, 1px);
    background: $color_white;
    opacity: 0.2;
    margin: 0 auto;
}
.footer__social {
    @include wihi(2.5rem, 2.5rem);
}
.footer__copyright {
    margin: 3rem 12%;
    padding-bottom: 2.5rem;
}
.footer__copy {
    @include font(Montserrat, normal, 500, 1.4rem, 150%, 0em, $color_grey);
}
.footer__mail {
    @include font(Montserrat, normal, 500, 1.4rem, 150%, 0em, $color_white);
}
@media (max-width: 1328px) {
    .footer__store {
        width: 20%;
        margin-right: 5rem;
    }
}
@media (max-width: 968px) {
    .footer__list {
        display: block !important;
        width: 90%;
        text-align: left;
        & > div {
            width: 90%;
        }
    }
    .footer__block {
        display: block !important;
    }
}
@media (max-width: 792px) {
    .footer__catalog {
        margin-left: $pt;
    }
    .footer__block {
        width: 20rem;
    }
    .footer__logo {
        margin-right: 3rem;
        img {
            @include wihi(11.5rem, 3.1rem);
            position: relative;
            top: -1rem;
            left: 0;
        }
    }
}

@media (max-width: 600px) {
    .footer__logo {
        @include wihi(11.5rem, 3.1rem);
        position: relative;
        z-index: 2;
        bottom: 3rem;
        left: 12rem;
        img {
            position: absolute;
        }
    }
    .footer__catalog {
        margin-right: 5rem;
        width: 15rem;
        margin-left: 0;
        margin-top: 2rem;
    }
    .footer__list div {
        width: 15rem;
    }
    .footer__flex {
        justify-content: flex-start !important;
    }
    .footer__store {
        margin-right: 0;
        margin-top: 2rem;
    }
}
@media (max-width: 500px) {
    .footer__catalog {
        margin-right: $pt;
    }
    .footer__media {
        width: 13rem;
    }
    .footer__block {
        width: 13rem;
    }
    .footer__line {
        width: 90%;
    }
    .footer__copyright {
        margin: 3rem 5%;
    }
}
