@import "../styles/_variables.scss";
@import "../styles/_mixins.scss";

.wrapper {
    max-width: 100%;
    margin: 30px auto;
}
.footer {
    margin-top: 5rem;
    background: #404040;
    color: $color_white;
}
.footer__flex {
    width: 90%;
    margin: 0 auto;
    padding: 4rem 0;
    a {
        color: $color_white;
    }
}
.footer__logo {
    img {
        @include wihi(9rem, 2.5rem);
    }
}
.footer__catalog {
    width: 45%;
}
.footer__title {
    @include font(Montserrat, normal, 600, 1.2rem, 110%, 0.05em, #b4b4b4);
    text-transform: uppercase;
    margin-bottom: $pt;
}
.footer__list {
    width: 90%;
    & > div {
        width: 45%;
    }
}
.footer__list li {
    margin-bottom: $pt;
}
.footer__list li a {
    @include font(Montserrat, normal, 500, 1.1rem, 150%, 0.05em, $color_white);
}
.footer__store {
    width: 20%;
    margin-right: 15rem;
}
.footer__media {
    width: 12rem;
}
.footer__line {
    @include wihi(90%, 1px);
    background: $color_white;
    opacity: 0.2;
    margin: 0 auto;
}
.footer__social {
    @include wihi($pt, $pt);
}
.footer__copyright {
    width: 90%;
    margin: 3rem auto;
    padding-bottom: 2.5rem;
}
.footer__copy {
    @include font(Montserrat, normal, 500, $pb, 150%, 0em, #b4b4b4);
}
.footer__mail {
    @include font(Montserrat, normal, 500, $pb, 150%, 0em, $color_white);
}
@media (max-width: 1328px) {
    .footer__store {
        width: 20%;
        margin-right: 5rem;
    }
}
@media (max-width: 968px) {
    .footer__list {
        display: block !important;
        width: 90%;
        text-align: left;
        & > div {
            width: 90%;
        }
    }
    .footer__block {
        display: block !important;
    }
}
@media (max-width: 792px) {
    .footer__catalog {
        margin-left: $pt;
    }
}
@media (max-width: 600px) {
    .footer__logo {
        @include wihi(9rem, 2.5rem);
        position: relative;
        z-index: 2;
        bottom: 3rem;
        left: 5rem;
        img {
            position: absolute;
        }
    }
    .footer__catalog {
        margin-right: 5rem;
        width: 6rem;
    }
    .footer__list div {
        width: 6rem;
    }
    .footer__store {
        width: 8rem;
    }
}
@media (max-width: 500px) {
    .footer__catalog {
        margin-right: $pt;
    }
}
