<div class="wrapper">
    <footer class="footer">
        <div class="footer__flex flex justify-content-between">
            <div class="footer__logo"><img src="../assets/img-home/FlowerShop.png" alt="logo"></div>
            <div class="footer__catalog">
                <p class="footer__title">Catalog</p>
                <ul class="footer__list flex justify-content-between">
                    <div>
                        <li><a href="">Fresh flowers</a></li>
                        <li><a href="">Indoor plants</a></li>
                        <li><a href="">Planting material</a></li>
                    </div>
                    <div>
                        <li><a href="">Floral accessories</a></li>
                        <li><a href="">Compositions made of artificial materials and dried flowers</a></li>
                        <li><a href="">Landscape design</a></li>
                    </div>
                </ul>
            </div>
            <div class="footer__store">
                <p class="footer__title">Store</p>
                <ul class="footer__list">
                    <li><a routerLink="/aboutus">About us</a></li>
                    <li><a routerLink="/news">News</a></li>
                    <li><a routerLink="contacts">Contacts</a></li>
                </ul>
            </div>
            <div class="footer__media">
                <p class="footer__title">Social media</p>
                <ul class="flex justify-content-between">
                    <li><a href="https://www.elinext.com" target="_blank"><img class="footer__social"
                                src="../assets/img-home/ic-facebook.png" alt="facebook"></a></li>
                    <li><a href="https://www.elinext.com" target="_blank"><img class="footer__social"
                                src="../assets/img-home/ic-tiktok.png" alt="tiktok"></a></li>
                    <li><a href="https://www.elinext.com" target="_blank"><img class="footer__social"
                                src="../assets/img-home/ic-vk.png" alt="vk"></a>
                    </li>
                    <li><a href="https://www.elinext.com" target="_blank"><img class="footer__social"
                                src="../assets/img-home/ic-instagram.png" alt="instagram"></a></li>
                </ul>
            </div>
        </div>
        <div class="footer__line"></div>
        <div class="footer__copyright flex justify-content-between">
            <div class="footer__copy">© FlowerShop, 2021</div>
            <div class="footer__mail">info@flowershop.by</div>
        </div>
    </footer>
</div>