<div class="wrapper">
    <footer class="footer">
        <div class="footer__flex flex justify-content-between">
            <div class="footer__logo"><img id="logo-image" src="../assets/img-home/FlowerShop.png" alt="logo"></div>
            <div class="footer__catalog">
                <p class="footer__title">Catalog</p>
                <ul class="footer__list flex justify-content-between">
                    <div class="footer__first-list">
                        <li class="footer__li"><a class="footer__li-link" href="">Fresh flowers</a></li>
                        <li class="footer__li"><a class="footer__li-link" href="">Indoor plants</a></li>
                        <li class="footer__li"><a class="footer__li-link" href="">Planting material</a></li>
                    </div>
                    <div class="footer__second-list">
                        <li class="footer__li"><a class="footer__li-link" href="">Floral accessories</a></li>
                        <li class="footer__li"><a class="footer__li-link" href="">Compositions made of artificial
                                materials and dried
                                flowers</a></li>
                        <li class="footer__li"><a class="footer__li-link" href="">Landscape design</a></li>
                    </div>
                </ul>
            </div>
            <div class="footer__block flex justify-content-between">
                <div class="footer__store">
                    <p class="footer__title">Store</p>
                    <ul class="footer__list">
                        <li class="footer__li link"><a class="footer__li-link" routerLink="/aboutus">About us</a></li>
                        <li class="footer__li"><a class="footer__li-link" routerLink="/news">News</a></li>
                        <li class="footer__li"><a class="footer__li-link" routerLink="contacts">Contacts</a></li>
                    </ul>
                </div>
                <div class="footer__media ">
                    <p class="footer__title">Social media</p>
                    <ul class="flex justify-content-between">
                        <li><a href="https://www.elinext.com" target="_blank"><img class="footer__social"
                                    src="../assets/img-home/ic-facebook.png" alt="facebook"></a></li>
                        <li><a href="https://www.elinext.com" target="_blank"><img class="footer__social"
                                    src="../assets/img-home/ic-tiktok.png" alt="tiktok"></a></li>
                        <li><a href="https://www.elinext.com" target="_blank"><img class="footer__social"
                                    src="../assets/img-home/ic-vk.png" alt="vk"></a>
                        </li>
                        <li><a href="https://www.elinext.com" target="_blank"><img class="footer__social"
                                    src="../assets/img-home/ic-instagram.png" alt="instagram"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__line"></div>
        <div class="footer__copyright flex justify-content-between">
            <div class="footer__copy">© FlowerShop, 2021</div>
            <div class="footer__mail">info@flowershop.by</div>
        </div>
    </footer>
</div>