<div class="wrapper">
    <div class="container">
        <div class="container__line"></div>
        <div class="container__path flex justify-content-start">
            <div class="container__home">
                <a class="container__link" routerLink="/">Home</a>
            </div>
            <div class="container__angle">
                <img src="../../../assets/img-aboutus/Angle.png" alt="angle">
            </div>
            <div class="container__contacts">Contacts</div>
        </div>
        <div class="container__img">
            <img class="image-map" src="../../../assets/img-contacts/marker.png" alt="map">
        </div>
        <div class="container__titl">Contacts</div>
        <p class="container__text">For several years now, our company has been delighting customers with the delivery of
            flowers and congratulations. We
            are really proud of the clear and well-coordinated work of our employees and are always confident that your
            order will
            be delivered at the right time to the right place.</p>
        <div class="container__contacts1" *ngIf="contactsData|async as objectData">
            <p class="container__street">{{objectData.address}}</p>
            <p class="container__number">{{objectData.phone}}</p>
            <p class="container__mail">{{objectData.email}}</p>
        </div>
        <div class="container__form">
            <div class="container__title">Contact us</div>
            <form [formGroup]='formValue' (ngSubmit)="postDataDetails()">
                <div class="container__name">
                    <input type="text" id="inputName" required formControlName="name">
                    <label class="container__input-name" for="inputName">Your name</label>
                </div>
                <div class="container__phone-number">
                    <input type="number" id="inputNumber" required formControlName="phone">
                    <label class="container__input-number" for="inputNumber">Phone number</label>
                </div>
                <div class="container__message">
                    <textarea type="text" id="inputMessage" required formControlName="textMessage"></textarea>
                    <label class="container__input-message" for="inputMessage">Text message</label>
                </div>
                <button type="submit" class="container__button" [ngClass]="{'disabled': formValue.invalid}"
                    [disabled]="formValue.invalid">SEND<app-spinner></app-spinner>
                </button>
            </form>
        </div>
        <div [@clickedDiv]="clickedDivState">
            <div class="container__popup-exit" (click)="closeMenu()"><img src="../../../assets/img-registration/x.png"
                    alt="close"></div>
            <p class="container__popup-text1">Your message was sent successfully!</p>
            <p class="container__popup-text2">We will contact you shortly!</p>
        </div>
        <div [@clickedErr]="clickedDivErr">
            <div class="container__popup-exit" (click)="closeMenu()"><img src="../../../assets/img-registration/x.png"
                    alt="close"></div>
            <p class="container__popup-text11">An error occurred while sending the message.</p>
            <p class="container__popup-text21">Please, try again.</p>
        </div>
    </div>
</div>