@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.wrapper-cartorder {
    margin: 0 auto;
    width: 144rem;
}

.container-cartorder {
    max-width: 100%;
    margin: 0 10.5% 0 11.5%;
    &__line {
        background: $color_darkgrey;
        opacity: 0.2;
        height: 1px;
        margin-top: 1.6rem;
    }
    &__line-two {
        background: $color_darkgrey;
        opacity: 0.2;
        height: 1px;
        margin-bottom: 5.9rem;
    }
    &__path {
        margin: 2.6rem auto 4.4rem auto;
        flex-wrap: wrap;
    }
    &__cart-title {
        @include font(Montserrat, normal, 700, 3.6rem, 110%, 0em, $color_darkgrey);
        margin-bottom: 3.2rem;
    }
    &__cart-item {
        @include wihi(82.5rem, 10.6rem);
        border: 1px solid $color_lightgrey;
        box-sizing: border-box;
        border-radius: 1rem;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 1.6rem;
    }
    &__cart-item-container {
        display: flex;
        justify-content: flex-start;
    }
    &__empty {
        @include font(Montserrat, normal, 600, 1.8rem, 120%, 0em, $color_red);
    }
    &__cart-item-description {
        margin-top: 2.6rem;
        width: 25rem;
        margin-right: 9rem;
    }
    &__cart-item-price-container {
        display: flex;
        justify-content: flex-start;
    }
    &__cart-item-price-one {
        @include font(Montserrat, normal, 500, 1.4rem, 150%, 0em, $color_darkgrey);
        margin-top: 2.5rem;
        margin-right: 1.3rem;
    }
    &__cart-item-x {
        @include font(Montserrat, normal, 400, 1.4rem, 150%, 0em, $color_grey);
        margin-top: 2.5rem;
        margin-right: 1.1rem;
    }
    &__cart-item-price-total {
        width: 9.4rem;
        @include font(Montserrat, normal, 700, 1.4rem, 150%, 0em, $color_darkgrey);
        margin-top: 2.6rem;
        margin-right: 2.2rem;
    }
    &__cart-total {
        display: flex;
        justify-content: flex-start;
        margin-top: 2.6rem;
        margin-bottom: 7rem;
    }
    &__cart-total-container {
        display: flex;
        justify-content: flex-start;
    }
    &__cart-total-total-price-text {
        @include font(Montserrat, normal, 500, 1.4rem, 150%, 0em, $color_darkgrey);
        margin-right: 4rem;
        margin-top: 0.7rem;
    }
    &__cart-total-total-price-number {
        @include font(Montserrat, normal, 700, 1.4rem, 150%, 0em, $color_darkgrey);
        margin-top: 0.7rem;
    }
    &__order-title {
        @include font(Montserrat, normal, 700, 2.8rem, 120%, 0em, $color_darkgrey);
        margin-bottom: 3.2rem;
    }
    &__form {
        width: 81.6rem;
    }
    &__checkbox-title {
        @include font(Montserrat, normal, 400, 1.8rem, 150%, 0em, $color_black);
        margin-bottom: 2rem;
    }
}
.container__home {
    margin-right: 2.6rem;
    .container__link {
        @include font(Montserrat, normal, normal, 1.4rem, 150%, 0em, $color_darkgrey);
    }
}
.container__angle {
    margin-right: 2.6rem;
    margin-top: 0.35rem;
}
.container__cartorder {
    @include font(Montserrat, normal, normal, 1.4rem, 150%, 0em, $color_lightdarkgrey);
}
.error-get-user {
    @include font(Montserrat, normal, 600, 1.8rem, 150%, 0em, $color_red);
}
.button-delete {
    @include wihi(30.2rem, 5.7rem);
    border: 1px solid $color_lightgrey;
    box-sizing: border-box;
    border-radius: 1rem;
    background: $color_white;
    @include font(Montserrat, normal, 600, 1.5rem, 110%, 0.05em, $color_darkgrey);
    margin-right: 23.1rem;
    text-transform: uppercase;
}
.button-delete:hover {
    border-color: $color_darkgrey;
}
.button-delete:active {
    padding-top: 0.2rem;
}
:host {
    ::ng-deep .p-checkbox {
        @include wihi(2rem, 2rem);
    }
    ::ng-deep .p-checkbox .p-checkbox-box {
        border: 1px solid $color_grey;
        box-sizing: border-box;
        border-radius: 0.4rem;
        @include wihi(2rem, 2rem);
    }
    ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
        background: $color_green;
    }
    ::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
        border-color: $color_green;
        background: $color_green;
    }
    ::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
        border-color: $color_green;
    }
    ::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
        border-color: $color_green;
        box-shadow: none;
    }
    ::ng-deep .p-inputnumber-input {
        @include wihi(4.5rem, 3.3rem);
    }
    ::ng-deep .p-inputtext {
        @include font(Montserrat, normal, 500, 1.4rem, 150%, 0em, $color_darkgrey);
        background: $color_white;
        border: 1px solid $color_lightgrey;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 0.75rem 0.75rem 0.75rem 1.8rem;
    }
    ::ng-deep .p-inputtext:enabled:focus {
        box-shadow: none;
        border-color: $color_darkgrey;
    }
    ::ng-deep .p-inputtext:enabled:hover {
        border-color: $color_darkgrey;
    }
    ::ng-deep .field-radiobutton {
        margin-bottom: 1.7rem;
    }
    ::ng-deep .p-radiobutton {
        @include wihi(2rem, 2rem);
    }
    ::ng-deep .p-radiobutton .p-radiobutton-box {
        border: 1px solid $color_grey;
    }
    ::ng-deep .p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
        border-color: $color_green;
    }
    ::ng-deep .p-radiobutton .p-radiobutton-box {
        @include wihi(2rem, 2rem);
    }
    ::ng-deep .p-radiobutton-box.p-highlight .p-radiobutton-icon {
        transform: translateZ(0) scale (1, 1);
    }
    ::ng-deep .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
        @include wihi(1.2rem, 1.2rem);
        background-color: $color_green;
    }
    ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight {
        background-color: $color_white;
    }
    ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
        border-color: $color_green;
        background: $color_white;
        color: $color_green;
    }
    ::ng-deep .p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
        box-shadow: none;
    }
    ::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight {
        border-color: $color_green;
    }
    ::ng-deep .field-radiobutton > label {
        margin-left: 1.8rem;
        @include font(Montserrat, normal, 400, 1.8rem, 150%, 0em, $color_black);
    }
}
.field-checkbox {
    margin: 0 1.1rem 0 1.8rem;
}
.field-number {
    margin-top: 1.9rem;
    margin-right: 3.1rem;
}
#miniItemImage {
    @include wihi(6.9rem, 6.9rem);
    margin-top: 1.4rem;
    margin-right: 1.9rem;
}
#deleteItem {
    @include wihi(2.4rem, 2.4rem);
    margin-top: 2.4rem;
    cursor: pointer;
}
#deleteItem:active {
    padding-top: 0.1rem;
    padding-left: 0.1rem;
}
.item-name {
    @include font(Montserrat, normal, 500, 1.4rem, 150%, 0em, $color_darkgrey);
    margin-bottom: 0.4rem;
}
.item-category {
    @include font(Montserrat, normal, 500, 1.4rem, 150%, 0em, $color_grey);
}

.container__button {
    @include wihi(35rem, 5.7rem);
    background-color: $color_green;
    border-radius: $pb_1rem;
    margin: 9.5rem 3rem 0 0;
    @include font(Montserrat, normal, 600, $pw_1-5rem, 110%, 0.05em, $color_white);
    text-transform: uppercase;
}
.container__button:hover {
    background: $color_darkgreen;
}
.container__button:active {
    padding-top: 0.2rem;
}
.container__button-continue {
    @include wihi(35rem, 5.7rem);
    background-color: $color_white;
    border-radius: $pb_1rem;
    margin: 9.5rem 0 0 0;
    @include font(Montserrat, normal, 600, $pw_1-5rem, 110%, 0.05em, $color_darkgrey);
    text-transform: uppercase;
    border: 1px solid $color_lightgrey;
    box-sizing: border-box;
}
.container__button-continue:hover {
    border: 1px solid $color_darkgrey;
}
.container__button-continue:active {
    padding-top: 0.2rem;
}
.disabled {
    background: $color_grey;
}
.disabled:hover {
    background: $color_grey;
}
.disabled:active {
    padding-top: 0;
}
.googlemap {
    @include wihi(81.6rem, 39.6rem);
    margin-bottom: 0.8rem;
}
@media (max-width: 1460px) {
    .wrapper-cartorder {
        width: 100%;
    }
}
@media (max-width: 1060px) {
    .container-cartorder {
        margin: 0 5% 0 5%;
    }
}
@media (max-width: 920px) {
    .container-cartorder {
        &__cart-item {
            @include wihi(100%, 10.6rem);
        }
        &__cart-item-description {
            margin-top: 2.6rem;
            width: 20.7rem;
            margin-right: 0;
        }
        &__form {
            width: 50.6rem;
        }
    }
    .button-delete {
        margin-right: 9.1rem;
    }
    .container__button-continue {
        margin: 3rem 0 0 0;
    }
    .container__button {
        margin: 4.4rem 0 0 0;
    }
    .googlemap {
        @include wihi(33.5rem, 39.6rem);
    }
}
@media (max-width: 820px) {
    .container-cartorder {
        &__cart-item-container {
            display: inline-block;
        }
        &__cart-item {
            @include wihi(100%, 16.5rem);
            justify-content: space-between;
        }
        &__cart-item-price-one {
            margin-top: 1.5rem;
        }
        &__cart-item-x {
            margin-top: 1.5rem;
        }
        &__cart-item-price-total {
            margin-top: 1.6rem;
        }
    }
    :host {
        ::ng-deep .p-checkbox {
            margin-bottom: 6rem;
        }
    }
    #deleteItem {
        margin-right: 2rem;
    }
    .field-number {
        margin-top: 0.9rem;
    }
}
@media (max-width: 720px) {
    .container-cartorder {
        &__cart-total {
            flex-direction: column-reverse;
        }
        &__cart-total-container {
            justify-content: space-between;
            margin-bottom: 5.8rem;
        }
    }
}
@media (max-width: 570px) {
    .container-cartorder {
        &__form {
            width: 33.5rem;
        }
    }
}
@media (max-width: 450px) {
    .container-cartorder {
        margin: 7rem 2rem 0 2rem;
        &__path {
            margin: 1.5rem auto 1.6rem auto;
        }
        &__cart-title {
            @include font(Montserrat, normal, 700, 2.8rem, 120%, 0em, $color_darkgrey);
        }
        &__cart-item {
            justify-content: flex-start;
            margin-bottom: 0.8rem;
        }
        &__cart-item-price-one {
            margin-top: 1.3rem;
        }
        &__cart-item-x {
            margin-top: 1.3rem;
        }
        &__cart-item-price-total {
            margin-top: 1.5rem;
        }
        &__cart-total {
            margin-top: 2rem;
            margin-bottom: 4.6rem;
        }
    }
    .field-number {
        margin-top: 0.9rem;
    }
    .container__home {
        margin-right: 1.6rem;
    }
    .container__angle {
        margin-right: 1.6rem;
    }
    .field-checkbox {
        margin: 0 0.7rem 0 1.6rem;
    }
    #miniItemImage {
        @include wihi(5.3rem, 5.3rem);
        margin-top: 2.3rem;
        margin-right: 1rem;
    }
    #deleteItem {
        @include wihi(1.8rem, 1.8rem);
        position: relative;
        top: -1.6rem;
        right: 0.6rem;
    }
    .button-delete {
        @include wihi(33.5rem, 5.7rem);
        margin-right: 0;
    }
    .container__button,
    .container__button-continue {
        @include wihi(33.5rem, 5.7rem);
    }
}
