<div class="wrapper-cartorder">
  <div class="container-cartorder">
    <div class="container-cartorder__line"></div>
    <div class="container-cartorder__path flex justify-content-start">
      <div class="container__home">
        <a class="container__link" routerLink="/">Home</a>
      </div>
      <div class="container__angle">
        <img src="../../../assets/img-aboutus/Angle.png" alt="angle" />
      </div>
      <div class="container__cartorder">Cart and order placement</div>
    </div>
    <div class="container-cartorder__cart-title">Cart</div>
    <div class="container-cartorder__empty" *ngIf="!product.length">
      Your cart is empty! Add items in the cart to confirm order!
    </div>
    <div
      class="container-cartorder__cart-item"
      *ngFor="let item of product; let i = index"
    >
      <div class="field-checkbox">
        <p-checkbox
          name="group1"
          [(ngModel)]="checked"
          [inputId]="item.id"
          [value]="item"
        ></p-checkbox>
      </div>
      <img
        id="miniItemImage"
        [src]="getItemImage(item.photo)"
        alt="itemImage"
      />
      <div class="container-cartorder__cart-item-container">
        <div class="container-cartorder__cart-item-description">
          <p class="item-name">{{ item.name }}</p>
          <p class="item-category">{{ item.category.name }}</p>
        </div>
        <div class="container-cartorder__cart-item-price-container">
          <div class="container-cartorder__cart-item-price-one">
            €{{ item.priceDto.price }} EUR
          </div>
          <div class="container-cartorder__cart-item-x">x</div>
          <div class="field-number">
            <p-inputNumber
              (onInput)="key($event, item, totalPrice)"
              [inputId]="item.id"
              placeholder="{{ item.quantity }}"
              [min]="1"
              [max]="99"
            ></p-inputNumber>
          </div>
        </div>
        <div class="container-cartorder__cart-item-price-total" id="item.id">
          €{{ item.total }} EUR
        </div>
      </div>
      <img
        (click)="deleteItem(item)"
        id="deleteItem"
        src="../../../assets/img-home/x.png"
        alt="x"
      />
    </div>
    <div class="container-cartorder__cart-total" *ngIf="this.product.length">
      <button class="button-delete" (click)="deleteSelected()">
        Delete selected
      </button>
      <div class="container-cartorder__cart-total-container">
        <div class="container-cartorder__cart-total-total-price-text">
          Total price —
        </div>
        <div class="container-cartorder__cart-total-total-price-number">
          €{{ totalPrice }} EUR
        </div>
      </div>
    </div>
    <div class="container-cartorder__line-two"></div>
    <div class="container-cartorder__order-title">Order placement</div>
    <div class="container-cartorder__form">
      <div class="error-get-user" *ngIf="!isLoggedIn">
        Error! You are not registered in the system. Try to register or sign in!
      </div>
      <form
        [formGroup]="formValue"
        (ngSubmit)="postDataDetails()"
        *ngIf="getUserData | async as user"
      >
        <div
          class="container__firstname"
          errorDirective
          [formControlItem]="firstName"
        >
          <input
            type="text"
            id="inputFirstName"
            required
            formControlName="firstName"
          />
          <label class="container__input-firstname" for="inputFirstName"
            >First name<span class="container__star">*</span>
          </label>
          <app-cart-order-error-form
            [formControlItem]="firstName"
          ></app-cart-order-error-form>
        </div>
        <div
          class="container__lastname"
          errorDirective
          [formControlItem]="lastName"
        >
          <input
            type="text"
            id="inputLastName"
            required
            formControlName="lastName"
          />
          <label class="container__input-lastname" for="inputLastName"
            >Last name<span class="container__star">*</span>
          </label>
          <app-cart-order-error-form
            [formControlItem]="lastName"
          ></app-cart-order-error-form>
        </div>
        <div class="container__email" errorDirective [formControlItem]="email">
          <input type="text" id="inputEmail" required formControlName="email" />
          <label class="container__input-email" for="inputEmail"
            >Email<span class="container__star">*</span></label
          >
          <app-cart-order-error-form
            [formControlItem]="email"
          ></app-cart-order-error-form>
        </div>
        <div
          class="container__phone-number"
          errorDirective
          [formControlItem]="phone"
        >
          <input
            type="number"
            id="inputPhone"
            required
            formControlName="phone"
          />
          <label class="container__input-phone" for="inputPhone"
            >Phone number<span class="container__star">*</span></label
          >
          <app-cart-order-error-form
            [formControlItem]="phone"
          ></app-cart-order-error-form>
        </div>
        <div class="container__message-cartorder">
          <textarea
            type="text"
            id="inputMessage"
            formControlName="text"
            placeholder=" "
          ></textarea>
          <label class="container__input-message" for="inputMessage"
            >Congratulatory message</label
          >
        </div>
        <app-map></app-map>
        <div class="container__address">
          <input
            type="text"
            id="inputAddress"
            formControlName="homeAddress"
            placeholder=" "
          />
          <label class="container__input-address" for="inputAddress"
            >Address
          </label>
        </div>
        <p class="container__point">
          You can enter the address manually or specify a point on the map
        </p>
        <div class="container__info-cartorder">
          <textarea
            type="text"
            id="inputInfo"
            formControlName="additionalInformation"
            placeholder=" "
          ></textarea>
          <label class="container__input-info" for="inputInfo"
            >Additional information</label
          >
        </div>
        <div class="container__checkbox">
          <div class="container-cartorder__checkbox-title">
            Choose a payment method:
          </div>
          <div class="field-radiobutton">
            <p-radioButton
              formControlName="paymentType"
              name="paymentType"
              value="CASH"
              inputId="cash"
            ></p-radioButton>
            <label for="cash">In cash to the courier</label>
          </div>
          <div class="field-radiobutton">
            <p-radioButton
              formControlName="paymentType"
              name="paymentType"
              value="CARD"
              inputId="card"
            ></p-radioButton>
            <label for="card">By bank card on the website</label>
          </div>
        </div>
        <button
          type="submit"
          class="container__button"
          [ngClass]="{
            disabled: formValue.invalid || isDisabled || product.length == 0
          }"
          [disabled]="formValue.invalid || isDisabled || product.length == 0"
        >
          Confirmt order <app-spinner></app-spinner>
        </button>
        <button class="container__button-continue" routerLink="/catalog">
          countinue shopping
        </button>
      </form>
    </div>
  </div>
</div>
