@import "../../../styles/_variables.scss";
@import "../../../styles/_mixins.scss";

.container__error {
    display: inline-block;
    @include font(Montserrat, normal, 400, 1.2rem, 150%, 0em, $color_black);
    color: $color_red;
    width: 30rem;
}
.alert-name {
    position: relative;
    left: 30.5rem;
    bottom: 5rem;
}
@media (max-width: 1200px) {
    .alert-name {
        left: 15rem;
    }
}
@media (max-width: 820px) {
    .alert-name {
        left: 5rem;
    }
}
@media (max-width: 600px) {
    .alert-name {
        left: -1.3rem;
    }
}
