<div class="wrapper-home">
  <div class="container-home">
    <app-home-swiper-logo></app-home-swiper-logo>
    <div class="container-banners">
      <app-banners></app-banners>
    </div>
    <div class="swiper-container">
      <app-home-swiper-list></app-home-swiper-list>
    </div>
    <div class="container-home__beauties">Look at the these beauties!</div>
    <div class="container-item">
      <app-home-items></app-home-items>
    </div>
    <button class="container-home__button" routerLink="/catalog">
      <p class="container__parag">Browse catalog</p>
    </button>
    <div class="container-home__information">
      <h2 class="color">Flower delivery in Minsk</h2>
      <p class="container__paragraph">
        Flowers can and should be given not only for holidays, but also for no
        reason. And flowers with delivery are convenient, fast and reliable. In
        our online store, you can order stunning bouquets for your home or
        office, which can not fail to impress. We will deliver them to any
        convenient point in Minsk. If desired, the bouquet is supplemented with
        a postcard, the text of which is chosen by the client.
      </p>
      <p class="container__paragraph">
        Flower delivery Minsk is a service that is very popular in the Republic
        of Belarus. You can order a ready-made composition or a thematic bouquet
        for a birthday, name day, wedding, anniversary, congratulations and
        other occasions. Roses (peony, bush), tulips, daisies, lilies, orchids,
        chrysanthemums, gerberas, alstroemeria, irises, peonies, eustomas,
        carnations are only a part of those flowers that are used for making
        bouquets. Forget about visiting a florist. We will make a bouquet for
        you that meets your wishes and requirements, and we will deliver it for
        free in Minsk and the Minsk district: Central, Sovetsky, Pervomaysky,
        Partizansky, Zavodsky, Leninsky, Oktyabrsky, Moskovsky, Frunzensky.
      </p>
    </div>
    <button class="container__chart-button" (click)="chartShow()">
      <img
        id="chartImage"
        src="../../../assets/img-home/chart.png"
        alt="chartImage"
      />
    </button>
    <div class="container__chart" *ngIf="isChartShow">
      <div class="container__chart-header">
        <div class="container__chart-header-title">
          Chat with the consultant
        </div>
        <button class="close-chart-button" (click)="closeChart()">
          <img
            id="closeChart"
            src="../../../assets/img-home/x white.png"
            alt="close"
          />
        </button>
      </div>
      <div class="container__chart-body">
        <div class="container__chart-body-messages">
          <div class="your-message">
            <div class="container__chart-body-yourmessage">
              How to get to you?
            </div>
            <img
              id="yourMessage"
              src="../../../assets/img-home/yormessage.png"
              alt="yourMessage"
            />
          </div>
          <div class="server-message">
            <img
              id="serverMessage"
              src="../../../assets/img-home/servermessage.png"
              alt="yourMessage"
            />
            <div class="container__chart-body-servermessage">
              Hello! We are located at 255 Nezavisimosti Avenue.
            </div>
          </div>
        </div>
        <div class="container__input">
          <input
            type="text"
            class="input-text"
            pInputText
            placeholder="Write a message..."
          />
          <button class="button">
            <img
              id="imgSend"
              src="../../../assets/img-home/send.png"
              alt="send"
            />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
