<div class="wrapper-product">
  <div class="container-product" *ngFor="let item of product">
    <div class="container-product__line"></div>
    <div class="container-product__path flex justify-content-start">
      <div class="container__home">
        <a class="container__link" routerLink="/">Home</a>
      </div>
      <div class="container__angle">
        <img src="../../../../assets/img-aboutus/Angle.png" alt="angle" />
      </div>
      <div class="container__home">
        <a class="container__link" routerLink="/catalog">Catalog</a>
      </div>
      <div class="container__angle">
        <img src="../../../../assets/img-aboutus/Angle.png" alt="angle" />
      </div>
      <div class="container__home">
        <a
          class="container__link"
          routerLink="/catalog"
          [queryParams]="{ name: categoryName }"
          >{{ item.category.name }}</a
        >
      </div>
      <div class="container__angle">
        <img src="../../../../assets/img-aboutus/Angle.png" alt="angle" />
      </div>
      <div class="container__catalogs">{{ item.name }}</div>
    </div>
    <div class="container-product__photo-description">
      <div class="container-product__photo">
        <div class="container-product__photo-image">
          <img
            id="itemImage"
            alt="itemImage"
            [src]="
              !isActive
                ? getPhoto(item.photo)
                : '../../../../assets/img-home/itemImageRepeat.png'
            "
          />
        </div>
        <div class="container-product__photo-images">
          <img
            id="itemImageMini1"
            [src]="getPhoto(item.photo)"
            alt="itemImage"
            (click)="getFirstElement()"
          />
          <img
            id="itemImageMini"
            src="../../../../assets/img-home/itemImageRepeat.png"
            alt="itemImage"
            (click)="getSecondElement()"
          />
        </div>
      </div>
      <div class="container-product__descriptoin">
        <div class="container-product__descriptoin-title">
          {{ item.name }}
        </div>
        <div class="container-product__descriptoin-description">
          {{ item.shortDescription }}
        </div>
        <div class="container-product__descriptoin-price">
          <div class="container-product__descriptoin-price-euro">
            €{{ item.priceDto.price }} EUR
          </div>
          <a
            class="container-product__descriptoin-price-changes-link"
            (click)="priceChangesShow()"
          >
            <div class="container-product__descriptoin-price-changes">
              Price changes
            </div>
          </a>
        </div>
        <div class="incart" *ngIf="id.includes(item.id)">In the cart</div>
        <button
          *ngIf="!id.includes(item.id)"
          class="button"
          (click)="addToCart(item)"
        >
          <img
            id="imageBaggy"
            src="../../../../assets/img-home/button-bag.png"
            alt="baggy"
          />
          <p class="button__paragraph">ADD TO CART</p>
        </button>
      </div>
    </div>
    <div class="container-product__descriptions">
      <div class="container-product__descriptions-title">Descriptions</div>
      <p class="container-product__descriptions-descriptions">
        {{ item.description }}
      </p>
      <div class="container-product__flowers">
        <div class="container__picture">
          <img
            class="image-flower"
            src="../../../../assets/img-aboutus/image 3.1png.png"
            alt="flower1"
          />
        </div>
        <div class="container__picture">
          <img
            class="image-flower"
            src="../../../../assets/img-aboutus/image 4.1.png"
            alt="flower2"
          />
        </div>
        <div class="container__picture">
          <img
            class="image-flower"
            src="../../../../assets/img-aboutus/image 5.1.png"
            alt="flower3"
          />
        </div>
      </div>
      <p class="container-product__figcapture">Examples of our work</p>
      <p class="container-product__text">
        We always know where your order is located, at any time it can be
        tracked thanks to the means of mobile communication and navigation that
        each of our couriers has, regardless of whether he moves on foot or
        using one of the types of his own transport.
      </p>
      <p class="container-product__text">
        We are pleased with the constant influx of new customers, and we value
        each of them. And our reputation is growing every day thanks to constant
        feedback from grateful customers who have used our services.
      </p>
    </div>
  </div>
  <div class="container-banners">
    <app-banners></app-banners>
  </div>
  <div class="container__price-changes" *ngIf="priceChangesIsShow">
    <div class="container__price-changes-details">
      <div class="container__price-changes-details-header">
        <div class="container__price-changes-details-header-title">
          Price changes
        </div>
        <div class="container__price-changes-details-header-time">
          <div class="container__price-changes-details-header-time-onemonth">
            1 month
          </div>
          <div class="container__price-changes-details-header-time-sixmonth">
            6 month
          </div>
        </div>
        <button
          class="container__price-changes-details-header-close"
          (click)="closePriseChanges()"
        >
          <img
            src="../../../../assets/img-registration/close.png"
            alt="close"
            id="closeImgPriceChanges"
          />
        </button>
      </div>
      <div class="container__price-changes-details-line"></div>
      <div class="container__price-changes-details-changes">
        <div class="container__price-changes-details-changes-title">
          <span class="container__price-changes-details-changes-title-current"
            >Current price:</span
          >
          <span class="container__price-changes-details-changes-title-number"
            >€90.87 EUR</span
          >
        </div>
        <p-chart
          type="line"
          [data]="lineStylesData"
          [options]="basicOptions"
          [responsive]="true"
          width="67.9rem"
          height="23.3rem"
        ></p-chart>
      </div>
    </div>
  </div>
</div>
