@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.googlemap {
    @include wihi(81.6rem, 39.6rem);
    margin-bottom: 0.8rem;
}
agm-map {
    @include wihi(100%, 100%);
}
:host {
    ::ng-deep .gm-svpc {
        display: none;
    }
    ::ng-deep .gm-control-active {
        display: none;
    }
    ::ng-deep .gmnoprint {
        display: none;
    }
    ::ng-deep .agm-map-container-inner {
        border-radius: 1rem;
    }
    ::ng-deep a[href="https://maps.google.com/maps?ll=53.9,27.5667&z=11&t=m&hl=ru-RU&gl=US&mapclient=apiv3"]
    {
        display: none !important;
    }
}
.container__map {
    @include wihi(81.6rem, 39.6rem);
    background: url("../../../assets/img-registration/Minsk\ cart.jpg") 0 0 no-repeat;
    background-size: 100% 100%;
    position: relative;
    margin-bottom: 0.8rem;
}
#image-area {
    position: absolute;
    top: 5.3rem;
    left: 23rem;
}
#image-arrow {
    position: absolute;
    top: 22rem;
    left: 39rem;
}
.container__area {
    position: relative;
    bottom: 7rem;
    left: $pt_2rem;
    background: $color_white;
    opacity: 0.95;
    border-radius: 8px;
    z-index: 999999999;
    @include wihi(18.2rem, 3.8rem);
}
#image-square {
    padding-left: 1.1rem;
    padding-top: 0.7rem;
}
.container__minsk {
    display: inline-block;
    @include font(Montserrat, normal, 400, 1.2rem, 150%, 0em, $color_darkgrey);
    padding-left: 0.9rem;
    padding-top: $pb_1rem;
}
.popup {
    @include wihi(36rem, 16rem);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    background: $color_white;
    position: fixed;
    top: 9rem;
    right: 2rem;
    animation: chart;
    animation-duration: 0.7s;
    animation-fill-mode: both;
}
.container__popup-exit {
    position: relative;
    top: 1.3rem;
    left: 33.3rem;
}
.container__popup-exit:active {
    top: 1.4rem;
    left: 33.4rem;
}
.container__popup-text11 {
    @include font(Montserrat, normal, 700, 2.2rem, 120%, 0em, $color_pink);
    width: 32.5rem;
    text-align: center;
    padding-top: 3.5rem;
    margin-left: 2rem;
}
@keyframes chart {
    0% {
        opacity: 0;
        right: 2rem;
        top: -20rem;
    }
    100% {
        opacity: 1;
        top: 9rem;
        right: 2rem;
    }
}
@media (max-width: 920px) {
    .googlemap {
        @include wihi(33.5rem, 39.6rem);
    }
    .container__map {
        @include wihi(33.5rem, 39.6rem);
        background: url("../../../assets/img-registration/Minsk\ mini.jpg") 0 0 no-repeat;
        background-position: center;
        border-radius: $pb_1rem;
        background-size: 100% 100%;
    }
    #image-area {
        @include wihi(29rem, 21rem);
        top: 9rem;
        left: 3.8rem;
    }
    #image-arrow {
        top: 17rem;
        left: 15.5rem;
    }
}
