<div class="wrapper">
    <div class="container">
        <div class="container__line"></div>
        <div class="container__titles">Site search</div>
        <div class="container__search">
            <div class="p-input-icon-right">
                <input type="text" class="p-inputtext-lg" pInputText placeholder="Enter your search request" />
                <button><img src="../../../assets/img-home/search.png" alt="search"></button>
            </div>
        </div>
        <div class="container__titles">Search results</div>
        <p>The search results will appear here</p>
    </div>
</div>