@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";
.wrapper {
    width: 100%;
    margin: 0 auto;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.container__line {
    background: $color_darkgrey;
    opacity: 0.2;
    height: 1px;
}
.container__titles {
    margin: 3rem auto 3rem;
    font-weight: bold;
    font-size: 2rem;
    line-height: 120%;
    color: $color_darkgrey;
}
.container__search {
    margin-bottom: 5rem;
}
.p-input-icon-right {
    width: 100%;
    position: relative;
    .p-inputtext-lg {
        display: inline-block;
        text-align: left;
        width: 100%;
        border: 1px solid $color_lightgrey;
        background: $color_white;
        border-radius: 4px;
        height: 5rem;
        font-size: 1.5rem;
        line-height: 150%;
        color: $color_black;
        padding-left: 2rem;
        &:focus {
            box-shadow: 2px 5px 1px $color_grey;
            border: 2px solid $color_lightgrey;
        }
    }
    input::placeholder {
        color: $color_lightgrey;
    }
    .button {
        position: absolute;
        top: 1.6rem;
        right: 2rem;
        z-index: 2;
        background: $color_white;
        &:hover {
            top: 1.2rem;
            right: 2rem;
            z-index: 3;
        }
        &:active {
            top: 1.6rem;
            right: 2rem;
            z-index: 3;
        }
        #imgSearch {
            width: 2rem;
            height: 2rem;
        }
    }
}
.container__paragraph {
    font-size: 1.5rem;
    line-height: 150%;
    color: $color_darkgrey;
}
@media (max-width: 500px) {
    .p-input-icon-right {
        .p-inputtext-lg {
            font-size: 0.8rem;
            line-height: 150%;
            color: $color_black;
        }
    }
}
