@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.wrapper-account {
    margin: 0 auto;
    width: 144rem;
}
.container-account {
    max-width: 100%;
    margin: 0 10.5% 0 11.5%;
    &__line {
        background: $color_darkgrey;
        opacity: 0.2;
        height: 1px;
        margin-top: 1.6rem;
    }
    &__path {
        margin: 2.6rem auto 4.4rem auto;
        flex-wrap: wrap;
    }
    &__form {
        width: 81.6rem;
    }
    &__change-password-form {
        width: 81.6rem;
        margin-bottom: 4.4rem;
    }
    &__account-title,
    &__change-password-title,
    &__sign-out-title {
        @include font(Montserrat, normal, 700, 3.6rem, 110%, 0em, $color_darkgrey);
        margin-bottom: 4.4rem;
    }
    &__change-password-button {
        display: block;
        margin: 4.4rem 0 8rem 0;
        border: 1px solid $color_green;
        background-color: $color_white;
        @include font(Montserrat, normal, 600, 1.5rem, 110%, 0.05em, $color_green);
    }
    &__change-password-button:hover {
        border: 1px solid $color_darklightgreen;
        color: $color_darklightgreen;
    }
    &__sign-out-button {
        display: block;
        margin: 4.4rem 0 5rem 0;
        border: 1px solid $color_red;
        background-color: $color_white;
        @include font(Montserrat, normal, 600, 1.5rem, 110%, 0.05em, $color_red);
    }
    &__sign-out-button:hover {
        border: 1px solid $color_darkred;
        color: $color_darkred;
    }
    &__save-button,
    &__save-password-button {
        background-color: $color_green;
        margin: 2.5rem 0 8rem 0;
        @include font(Montserrat, normal, 600, $pw_1-5rem, 110%, 0.05em, $color_white);
    }
    &__save-password-button {
        margin: 1.9rem 0 3.6rem 0;
    }
    &__save-button:hover,
    &__save-password-button:hover {
        background: $color_darkgreen;
    }
}
.button {
    @include wihi(35rem, 5.7rem);
    text-transform: uppercase;
    border-radius: $pb_1rem;
}
.button:active {
    padding-top: 0.2rem;
}
.container__home {
    margin-right: 2.6rem;
    .container__link {
        @include font(Montserrat, normal, normal, 1.4rem, 150%, 0em, $color_darkgrey);
    }
}
.container__angle {
    margin-right: 2.6rem;
    margin-top: 0.35rem;
}
.container__account {
    @include font(Montserrat, normal, normal, 1.4rem, 150%, 0em, $color_lightdarkgrey);
}
.error-get-user {
    @include font(Montserrat, normal, 600, 1.8rem, 150%, 0em, $color_red);
}
.disabled {
    background: $color_grey;
}
.disabled:hover {
    background: $color_grey;
}
.disabled:active {
    padding-top: 0;
}

.alert-confirmpassword {
    position: relative;
    left: 46rem;
    bottom: 5rem;
}
.googlemap {
    @include wihi(81.6rem, 39.6rem);
    margin-bottom: 0.8rem;
}
@media (max-width: 1460px) {
    .wrapper-account {
        width: 100%;
    }
}
@media (max-width: 1020px) {
    .container-account {
        margin: 0 5% 0 5%;
    }
}
@media (max-width: 920px) {
    .container-account {
        &__form,
        &__change-password-form {
            width: 50.6rem;
        }
    }
    .alert-confirmpassword {
        left: 15rem;
    }
    .googlemap {
        @include wihi(33.5rem, 39.6rem);
    }
}
@media (max-width: 570px) {
    .container-account {
        &__form,
        &__change-password-form {
            width: 33.5rem;
        }
    }
    .alert-confirmpassword {
        left: -2rem;
    }
}
@media (max-width: 450px) {
    .container-account {
        margin: 7rem 2rem 0 2rem;
        &__path {
            margin: 1.5rem auto;
        }
        &__account-title,
        &__change-password-title,
        &__sign-out-title {
            @include font(Montserrat, normal, 700, 2.8rem, 120%, 0em, $color_darkgrey);
            margin-bottom: 3.4rem;
        }
    }
    .button {
        @include wihi(33.5rem, 5.7rem);
        margin-bottom: 4.4rem;
    }
    #inputPhone,
    #inputConfirm {
        padding-bottom: 1.3rem;
    }
}
