<div class="wrapper">
    <div class="container__lineb"></div>
    <div class="container">
        <div class="container__logo">
            <p class="container__title">Registration</p>
            <a class="container__link">Sign in</a>
        </div>
        <div class="container__form">
            <form>
                <div class="container__fullname">
                    <input type="text" id="inputName" required>
                    <label class="container__input-name" for="inputName">Full name<span class="container__star">*</span>
                    </label>
                </div>
                <div class="container__email">
                    <input type="email" id="inputEmail" required>
                    <label class="container__input-email" for="inputEmail">Email<span
                            class="container__star">*</span></label>
                </div>
                <div class="container__phone-number">
                    <input type="number" id="inputPhone" required>
                    <label class="container__input-phone" for="inputPhone">Phone number<span
                            class="container__star">*</span></label>
                </div>
                <div class="container__map">
                    <img id="image-area" src="../../../assets/img-registration/Minsk-area.png" alt="area">
                    <img id="image-arrow" src="../../../assets/img-registration/arrow.png" alt="arrow">
                    <div class="container__area">
                        <img id="image-square" src="../../../assets/img-registration/square.png" alt="square">
                        <span class="container__minsk">Delivery area - Minsk</span>
                    </div>
                </div>
                <div class="container__address">
                    <input type="text" id="inputAddress" required>
                    <label class="container__input-address" for="inputAddress">Address<span
                            class="container__star">*</span></label>
                </div>
                <p class="container__point">You can enter the address manually or specify a point on the map</p>
                <div class="container__info">
                    <textarea type="text" id="inputInfo" required></textarea>
                    <label class="container__input-info" for="inputInfo">Additional information</label>
                </div>
                <p class="container__point">Intercom, GPS coordinates or other additional information</p>
                <div class="container__password">
                    <input type="password" id="inputPassword" required>
                    <label class="container__input-password" for="inputPassword">Password<span
                            class="container__star">*</span></label>
                </div>
                <div class="container__confirm">
                    <input type="password" id="inputConfirm" required>
                    <label class="container__input-confirm" for="inputConfirm">Confirm password<span
                            class="container__star">*</span></label>
                </div>
                <div class="container__confirm">
                    <input type="checkbox">
                    <span class="container__text">I agree to the <a class="container__linking">processing of personal
                            data</a></span>
                </div>
                <button type="submit" class="container__button">Register</button>
            </form>
        </div>
        <div class="container__line">
            <span class="container__lines">
            </span>
            <span class="container__text1">
                OR
            </span>
            <span class="container__lines">
            </span>
        </div>
        <p class="container__quick">Use accounts of other services for quick login</p>
        <button class="container__facebook">
            <img id="facebook" src="../../../assets/img-registration/facebook-rect.png" alt="facebook-rect">
            <span class="container__signin">sign in with Facebook</span>
        </button>
        <button class="container__google">
            <img id="google" src="../../../assets/img-registration/flat-color-icons_google.png" alt="google">
            <span class="container__signin">sign in with Google</span>
        </button>
    </div>
</div>