.wrapper {
    max-width: 100%;
    margin: 30px auto;
}

.container__head {
    background: url("../../assets/img-home/Rectangle\ 1.png") 0 0 no-repeat;
    background-size: 100% 100%;
    max-width: 95%;
    margin: 2rem auto;
}
.container__title {
    margin: 5rem;

    h1 {
        font-weight: 800;
        font-size: 48px;
        line-height: 120%;
        color: #404040;
    }
    p {
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        color: #404040;
        padding: 3rem 0;
    }
}
.container__logo {
    padding-right: 15rem;
}
.container__banner {
    margin: 4rem auto;
    max-width: 90%;
}
.container__delivery {
    background: url("../../assets/img-home/Rectangle\ 3.png") 0 0 no-repeat;
    background-size: 100% 100%;
    width: 100%;
    margin-right: 1rem;
}

.delivery__logo {
    display: flex;
    align-items: center;
}
.delivery__logo img {
    height: 90%;
}
.title {
    font-weight: bold;
    font-size: 2rem;
    line-height: 120%;
    color: #404040;
    margin: 4rem 0 2rem 4rem;
}
.container__linking {
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 150%;
    color: #404040;
    margin-left: 4rem;
    &:hover {
        color: #ff5d7d;
    }
}

.container__garden {
    background: url("../../assets/img-home/Rectangle\ 4.png") 0 0 no-repeat;
    background-size: 100% 100%;
    width: 100%;
    margin-left: 1rem;
}

.garden__logo {
    display: flex;
    align-items: center;
}

.container__list {
    width: 90%;
    margin: 0 auto;
    & li {
        width: 17rem;
    }
}
.container__block {
    height: 10rem;
    width: 15rem;
    margin-right: 0;
    & a {
        max-height: 110%;
        width: 15rem;
        display: block;

        & img {
            height: 5rem;
            width: 5rem;
            display: block;
            margin: 1.5rem auto;
        }
        & p {
            text-align: center;
            margin-top: 1rem;
            font-size: 1rem;
            line-height: 150%;
            color: #b4b4b4;
        }
    }
}
h6 {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 150%;
    color: #404040;
    width: 15rem;
    text-align: center;
}
.container__beauties {
    width: 90%;
    margin: 10rem auto 3rem;
    font-weight: bold;
    font-size: 2rem;
    line-height: 120%;
    color: #404040;
}
.container__items {
    width: 90%;
    margin: 0 8rem;
    flex-wrap: wrap;
}
.container__wrap {
    flex: 1 0 21%;
    margin-bottom: 3rem;
}
.container__item {
    width: 18rem;
    height: 28rem;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    border-radius: 10px;
    padding-bottom: 1rem;
    position: relative;
    img {
        width: 80%;
        margin: 1.5rem;
    }
    h5 {
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 120%;
        color: #404040;
        margin: 0 1.5rem;
    }
    & > p {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 120%;
        color: #404040;
        margin: 0 1.5rem;
        position: absolute;
        top: 25rem;
    }
    button {
        display: none;
    }
}
.opacity {
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    color: #b4b4b4;
    margin: 0 1.5rem;
    text-align: left;
}
.container__item:hover {
    width: 18rem;
    height: 35rem;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 15rem;
        height: 4rem;
        background: #5e9e5e;
        border-radius: 10px;
        margin: 8rem auto 0;
        img {
            width: 1.4rem;
        }
        p {
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 100%;
            text-align: left;
            letter-spacing: 0.05em;
            color: #ffffff;
            margin-right: 1.2rem;
        }
    }
}

.container__button {
    display: block;
    width: 18rem;
    height: 4rem;
    margin: 0 auto 6rem;
    border: 1px solid #5e9e5e;
    border-radius: 10px;
    background-color: #fff;

    p {
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 110%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #5e9e5e;
        margin: 0 auto;
    }
}
.container__information {
    width: 90%;
    margin: 0 auto;
    p {
        font-size: 1.2rem;
        line-height: 170%;
        color: #404040;
        margin: 1rem auto;
    }
}
.color {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 110%;
    background: linear-gradient(90deg, #ff5d7d 0%, #7b61ff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
}
