@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.wrapper {
    width: 100%;
    margin: 1.5rem auto 0 auto;
}
.container__line {
    width: 78%;
    margin: 0 20% 2.8rem 12%;
    background: $color_darkgrey;
    opacity: 0.2;
    height: 1px;
}
.container__path {
    margin: 1rem 0 3.5rem 12%;
    width: 90%;
}
.container__home {
    margin-right: 2.8rem;
    a {
        @include font(Montserrat, normal, normal, 1.4rem, 150%, 0em, $color_darkgrey);
    }
}
.container__angle {
    margin-right: 2.4rem;
    margin-top: 0.35rem;
}
.container__news {
    @include font(Montserrat, normal, normal, 1.4rem, 150%, 0em, $color_lightdarkgrey);
}
.container__titl {
    width: 78%;
    margin: 4.5rem 0 2.3rem 12%;
    background: $color_gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 4.8rem;
    line-height: 120%;
}
.container__text1 {
    margin: 1rem 0 7rem 12%;
    width: 56%;
    @include font(Montserrat, normal, normal, 1.8rem, 150%, 0em, $color_black);
}
.container__text {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    @include font(Montserrat, normal, normal, 1.6rem, 150%, 0em, $color_darkgrey);
}

.container__titles {
    margin: 0.5rem auto 0.5rem;
    @include font(Montserrat, normal, bold, 2rem, 120%, 0em, $color_darkgrey);
}
.container__date {
    margin-bottom: 1rem;
    width: 75%;
    @include font(Montserrat, normal, normal, 1.6rem, 150%, 0em, $color_darkgrey);
}
.my-pag::ng-deep .ngx-pagination .current {
    color: $color_darkgrey;
    border: 1px solid $color_pink;
    background: $color_white;
}
.my-pag::ng-deep .ngx-pagination li {
    width: 3rem;
    height: 3rem;
    text-align: center;
    margin-left: 1rem;
}
.my-pag::ng-deep .ngx-pagination li span {
    display: inline-block;
    padding-top: 0.7rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color_darkgrey;
}
.my-pag::ng-deep .ngx-pagination li {
    a {
        border-radius: 10px;
        border: 1px solid $color_grey;
        width: 3rem;
        height: 3rem;
        background-color: $color_white;
        box-sizing: border-box;
    }
    a:hover {
        border: 1px solid $color_pink;
        border-radius: 10px;
    }
}
.list {
    width: 75%;
    text-align: center;
    margin-left: 5%;
    ul {
        text-align: left;
    }
}
@media (max-width: 1200px) {
    .container__text1,
    .container__text,
    .list {
        width: 90%;
    }
}
@media (max-width: 450px) {
    .wrapper {
        margin-top: 8rem;
    }
}
