<div class="container__banner flex justify-content-start ">
    <a href="https://www.elinext.com" target="_blank" class="container__delivery flex justify-content-between">
        <div class="container__deliverys">
            <p class=" title">Flower delivery in Minsk</p>
            <p><a class="container__linking" href="">More details</a></p>
        </div>
        <div class="delivery__logo">
            <img id="delivery-image" src="../../../assets/img-home/car.jpg" alt="car">
        </div>
    </a>
    <a href="https://www.elinext.com" target="_blank" class="container__garden flex justify-content-between">
        <div class="container__gardens ">
            <p class=" title">Everything for your garden</p>
            <p><a class="container__linking" href="">Discounts up to 50%</a></p>
        </div>
        <div class="garden__logo">
            <img id="garden-image" src="../../../assets/img-home/FRa.png" alt="garden">
        </div>
    </a>
</div>