@import "../../../../../node_modules/swiper/swiper.scss";
@import "../../../styles/_variables.scss";
@import "../../../styles/_mixins.scss";

.swiper {
    @include wihi(100%, 14rem);
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: top;
    background: $color_white;
    display: flex;
    justify-content: center;
    align-items: top;
}
.swiper-slide img {
    display: block;
    @include wihi(100%, 100%);
    object-fit: cover;
}
.container__slider {
    margin: 4rem 0 0 0;
}
.container__block {
    @include wihi(16rem, 10rem);
    margin-right: 0;
    .container__link {
        max-height: 100%;
        width: 16rem;
        display: block;

        .item-image {
            @include wihi(5rem, 5rem);
            display: block;
            margin: $pw_1-5rem auto;
        }
        .container__paragraph {
            @include font(Montserrat, normal, 500, 1.2rem, 150%, 0em, $color_grey);
            text-align: center;
            margin-top: 0.5rem;
        }
    }
}
.h6 {
    @include font(Montserrat, normal, 500, 1.4rem, 150%, 0em, $color_darkgrey);
    width: 16rem;
    text-align: center;
}
@media (max-width: 450px) {
    .container__block {
        margin: 0 auto;
    }
}
