@import "../../../styles/_variables.scss";
@import "../../../styles/_mixins.scss";

.container__error {
    display: inline-block;
    @include font(Montserrat, normal, 400, 1.2rem, 150%, 0em, $color_black);
    color: $color_red;
    width: 35rem;
}
.alert-name {
    position: relative;
    left: 13rem;
    bottom: 5rem;
}
@media (max-width: 640px) {
    .alert-name {
        left: 28.8rem;
        bottom: 6.8rem;
    }
}
