@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.wrapper-myorders {
    margin: 0 auto;
    width: 144rem;
}

.container-myorders {
    max-width: 100%;
    margin: 0 10.5% 0 11.5%;
    &__line {
        background: $color_darkgrey;
        opacity: 0.2;
        height: 1px;
        margin-top: 1.6rem;
    }
    &__path {
        margin: 2.6rem auto 4.4rem auto;
        flex-wrap: wrap;
    }
    &__cart-title {
        @include font(Montserrat, normal, 700, 3.6rem, 110%, 0em, $color_darkgrey);
        margin-bottom: 3.2rem;
    }
}
.container__home {
    margin-right: 2.6rem;
    .container__link {
        @include font(Montserrat, normal, normal, 1.4rem, 150%, 0em, $color_darkgrey);
    }
}
.container__angle {
    margin-right: 2.6rem;
    margin-top: 0.35rem;
}
.container__myorders {
    @include font(Montserrat, normal, normal, 1.4rem, 150%, 0em, $color_lightdarkgrey);
}
:host {
    ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
        background-color: $color_white;
        @include wihi(82.5rem, 10.6rem);
        border-radius: $pb_1rem;
        padding: 0;
    }
    ::ng-deep .p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link {
        border: 1px solid $color_lightgrey;
        background: $color_white;
    }
    ::ng-deep .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
        border: 1px solid $color_lightgrey;
        background: $color_white;
        box-shadow: 0 0 0 0.1rem $color_lightgrey;
    }
    ::ng-deep .p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link {
        border: 1px solid $color_lightgrey;
        background: $color_white;
    }
    ::ng-deep .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
        box-shadow: none;
    }
    ::ng-deep.p-accordion-header-link {
        align-items: flex-start;
    }
    ::ng-deep .p-accordion .p-accordion-content {
        width: 82.5rem;
        background: $color_white;
        border-bottom-right-radius: $pb_1rem;
        border-bottom-left-radius: $pb_1rem;
        padding-left: 0;
        padding-right: 0;
    }
    ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
        margin: 0;
    }
    ::ng-deep .pi {
        position: relative;
        top: 2.7rem;
        left: 77.9rem;
        font-size: 1.8rem;
    }
}
.container-order {
    display: flex;
    justify-content: flex-start;
    margin-top: 2.6rem;
    &__dot {
        @include wihi(1.1rem, 1.1rem);
        border-radius: 50%;
        background-color: $color_green;
        margin-top: 0.5rem;
        margin-right: 2.9rem;
    }
    &__number-date {
        width: 18rem;
        margin-right: 5rem;
    }
    &__number {
        @include font(Montserrat, normal, 500, 1.4rem, 150%, 0em, $color_darkgrey);
        margin-bottom: 0.4rem;
    }
    &__date {
        @include font(Montserrat, normal, 500, 1.4rem, 150%, 0em, $color_grey);
    }
    &__adress {
        @include font(Montserrat, normal, 500, 1.4rem, 150%, 0em, $color_darkgrey);
        width: 30rem;
        text-align: left;
        margin-right: 3rem;
    }
    &__total-price {
        @include font(Montserrat, normal, 700, 1.4rem, 150%, 0em, $color_darkgrey);
        width: 10.8rem;
        text-align: right;
    }
    &__title {
        @include font(Montserrat, normal, 700, 1.4rem, 150%, 0em, $color_darkgrey);
        margin: 1.4rem 0 2.7rem 6.25rem;
    }
    &__cart-item {
        margin-bottom: 2rem;
        margin-left: 6.25rem;
        display: flex;
        justify-content: flex-start;
    }
    &__cart-item-container,
    &__mobile-container,
    &__mobile-cart,
    &__cart-item-price-container {
        display: flex;
    }
    &__cart-item-container {
        margin-top: 1rem;
    }
    &__cart-item-description {
        width: 20.7rem;
        margin-right: 10.2rem;
    }
    &__cart-item-price-one {
        width: 8.8rem;
        @include font(Montserrat, normal, 500, 1.4rem, 150%, 0em, $color_darkgrey);
        margin-right: 1.1rem;
        text-align: right;
    }
    &__cart-item-x {
        @include font(Montserrat, normal, 400, 1.4rem, 150%, 0em, $color_grey);
        margin-right: 2rem;
    }
    &__cart-item-number {
        @include font(Montserrat, normal, 500, 1.4rem, 150%, 0em, $color_darkgrey);
        margin-right: 6.3rem;
    }
    &__cart-item-price-total {
        @include font(Montserrat, normal, 700, 1.4rem, 150%, 0em, $color_darkgrey);
        width: 10rem;
        text-align: right;
    }
    &__line {
        background: $color_lightgrey;
        height: 1px;
        margin-bottom: 3.5rem;
    }
    &__contact-information {
        margin-bottom: 3.5rem;
        margin-left: 6.25rem;
    }
    &__contact-title,
    &__contact-additional-info-title,
    &__contact-message-title,
    &__payment-mathod-title {
        @include font(Montserrat, normal, 700, 1.4rem, 150%, 0em, $color_darkgrey);
        margin-bottom: 0.7rem;
    }
    &__contact-name {
        @include font(Montserrat, normal, 400, 1.8rem, 150%, 0em, $color_darkgrey);
        margin-bottom: 0.8rem;
    }
    &__contact-email,
    &__contact-phone {
        @include font(Montserrat, normal, 400, 1.6rem, 170%, 0em, $color_grey);
    }
    &__contact-additional-info-title {
        margin-top: 2rem;
    }
    &__contact-additional-info-text,
    &__contact-message-text {
        @include font(Montserrat, normal, 400, 1.6rem, 170%, 0em, $color_darkgrey);
        margin-bottom: 2rem;
        width: 69.5rem;
    }
    &__payment-mathod-text {
        @include font(Montserrat, normal, 400, 1.6rem, 170%, 0em, $color_darkgrey);
        margin-bottom: 2.55rem;
        margin-left: 6.25rem;
    }
    &__payment-mathod-title {
        margin-left: 6.25rem;
    }
}
#miniItemImage {
    @include wihi(6.9rem, 6.9rem);
    margin-right: 1.9rem;
    margin-bottom: 0.1rem;
}

.item-name {
    @include font(Montserrat, normal, 500, 1.4rem, 150%, 0em, $color_darkgrey);
    margin-bottom: 0.4rem;
}
.item-category {
    @include font(Montserrat, normal, 500, 1.4rem, 150%, 0em, $color_grey);
}
@media (max-width: 1460px) {
    .wrapper-myorders {
        width: 100%;
    }
}
@media (max-width: 1020px) {
    .container-myorders {
        margin: 0 7.5% 0 7.5%;
    }
    :host {
        ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
            @include wihi(50.5rem, 12.1rem);
        }
        ::ng-deep .p-accordion .p-accordion-content {
            width: 50.5rem;
        }
        ::ng-deep .pi {
            top: 1.5rem;
            left: 44.5rem;
        }
    }
    .container-order {
        margin-top: 1.4rem;
        &__dot {
            margin-right: 2rem;
            width: 1.1rem;
        }
        &__number-date {
            width: 10rem;
            margin-right: 2rem;
        }
        &__adress {
            width: 15rem;
            margin-right: 0;
        }
        &__total-price {
            padding-top: 3.5rem;
        }
        &__title,
        &__cart-item,
        &__contact-information,
        &__payment-mathod-tex,
        &__payment-mathod-title,
        &__payment-mathod-text {
            margin-left: 2.5rem;
        }
        &__mobile-container {
            display: block;
        }
        &__cart-item-price-one {
            text-align: left;
        }
        &__cart-item-description {
            margin-right: 4.2rem;
        }
        &__contact-additional-info-text,
        &__contact-message-text {
            width: 45.5rem;
        }
    }
    .item-category {
        margin-bottom: 0.4rem;
    }
}
@media (max-width: 610px) {
    .container-myorders {
        &__path {
            margin-bottom: 1.5rem;
        }
        &__cart-title {
            @include font(Montserrat, normal, 700, 2.8rem, 120%, 0em, $color_darkgrey);
            margin-bottom: 3.4rem;
        }
    }
    :host {
        ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
            @include wihi(33.5rem, 12.1rem);
        }
        ::ng-deep .p-accordion .p-accordion-content {
            width: 33.5rem;
        }
        ::ng-deep .pi {
            top: 1.5rem;
            left: 29.5rem;
        }
    }
    .container-order {
        &__mobile-cart {
            width: 15.3rem;
            display: block;
        }
        &__date {
            margin-bottom: 2rem;
        }
        &__number-date {
            width: 15.3rem;
            margin-right: 3rem;
        }
        &__adress {
            margin-right: 0;
        }
        &__total-price {
            padding-top: 6.7rem;
        }
        &__line {
            margin-bottom: 2rem;
        }
        &__title {
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
        &__cart-item-container {
            margin-top: 0.5rem;
        }
        &__cart-item-price-one,
        &__cart-item-x {
            margin-right: 1rem;
        }
        &__cart-item-price-one {
            text-align: left;
            width: inherit;
        }
        &__mobile-container {
            width: 20.7rem;
        }
        &__cart-item-price-total {
            position: relative;
            top: 5rem;
            left: -7.8rem;
        }
        &__contact-additional-info-text,
        &__contact-message-text {
            width: 29.5rem;
        }
        &__payment-mathod-text {
            margin-bottom: 1rem;
        }
        &__contact-information {
            margin-bottom: 2rem;
        }
    }
    #miniItemImage {
        @include wihi(5.3rem, 5.3rem);
        margin-right: 1rem;
    }
}
@media (max-width: 500px) {
    .container-myorders {
        margin: 0 2rem 0 2rem;
    }
}
@media (max-width: 450px) {
    .container-myorders {
        margin-top: 7rem;
        &__path {
            margin-top: 1.5rem;
        }
    }
}
